azure-functions
azure-identity
azure-mgmt-resource
azure-mgmt-costmanagement
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-network
azure-mgmt-sql
azure-mgmt-subscription
azure-mgmt-consumption
pandas
matplotlib
python-dotenv
prettytable
termcolor
scikit-learn
pytz
applicationinsights
pyyaml
jsonschema
